services:
  sim:
    build:
      context: .
      network: host
    image: ros2-jazzy-swarm-sim
    container_name: rosette_sim
    # runtime: nvidia
    environment:
      # - NVIDIA_VISIBLE_DEVICES=all
      # - NVIDIA_DRIVER_CAPABILITIES=all
      - GUI=vnc
      - DISPLAY=:1
    network_mode: host # Essential for ROS 2 communication between containers
    shm_size: 10gb # Required for Ray/RLLib
    volumes:
      - ./src:/root/ros2_ws/src
      - ./outputs:/root/ros2_ws/outputs
      - ./rllib_results:/root/ros2_ws/rllib_results
      - /tmp/.X11-unix:/tmp/.X11-unix
    ipc: host
    stdin_open: true
    tty: true

  slam:
    image: aserbremen/mrg_slam_jazzy
    container_name: rosette_slam
    # runtime: nvidia
    # environment:
    # - NVIDIA_VISIBLE_DEVICES=all
    # - NVIDIA_DRIVER_CAPABILITIES=all
    network_mode: host # Must match 'sim' for DDS discovery
    volumes:
      - ./src:/home/ubuntu/mnt_src # Mount scripts separately to avoid breaking the workspace
      # - ./src:/home/ubuntu/ros2_ws/src # DISABLED: Shadows pre-installed source.
      # - ./src/Multi-Robot-Graph-SLAM:/root/ros2_ws/src/Multi-Robot-Graph-SLAM # Already covered by ./src
    ipc: host
    stdin_open: true
    tty: true
